List of work done in this project
1. Django project named restaurant
2. extend user model and remove userid and Consider Email ID as a login requirement field.
3. DataBase - Postgres
4. User type - Customer, restaurant Owner and admin.
5. Restaurant owners should be able to create a Shop and menu and create a price for the product.
   Customers can see those details. (No add to cart, no purchase is there).
   a super user and add all the tables in admin.
6. There is a sign up and login too
7. REST API - With the help of DRF created a listing of products api, and login/signup with simple jwt token. 
   created a json response.
8. If I’m logged in as a customer I am able to see the list of product that has been added by owner and
   if I am logged in as owner than I am   be able to see the product that are added by me and I can add new product.
